{% extends "base.html" %}

{% block content %}

<section class = "about-page">
    <div class = "about-container">
    <h2 class = "about-head">About ME</h2>
    <P class = "about-me">
        Hey!. I'm Shivkumar Pujari an aspiring Software Engineer with a strong foundation in Python
        and backend development. Well my career began in the world of networking and firewalls, where
        I worked with Linux, Snort, syslog, and SNMP.
        That experience gave me a deep understanding of how systems communicate and stay secure.
    </P>
    <p>
        Overtime I realized my passion lies in creating software solutions -
        Building APIs, backend systems, and now expanding into frontend and
        system design to develop end-to-end applications 
    </p>
    <p>
        Apart from coding I value discpline, continous learning, and self-growth.
        Weather it's fitness, reading, or exploring new tech, I believe progress comes
        from small steps everyday.
    </p>
    </div>

</section>
{% endblock %}