<!DOCTYPE html>

<head>
    <title>Shivkumar | Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    <button id="toggle-nav">☰ Menu</button>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/experience">Experience</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <!-- Main content begins from here-->
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const toggleBtn = document.getElementById("toggle-nav");
            const navbar = document.getElementById("navbar");

            toggleBtn.addEventListener("click", () => {
                navbar.classList.toggle("open");

                if (navbar.classList.contains("open")) {
                    toggleBtn.textContent = "✖ Close";
                } else {
                    toggleBtn.textContent = "☰ Menu";
                }
            });

            // Optional: close nav when a link is clicked
            navbar.addEventListener("click", (e) => {
                if (e.target.tagName === "A") {
                    navbar.classList.remove("open");
                    toggleBtn.textContent = "☰ Menu";
                }
            });
            const downloadSpan = document.getElementById("downloads");
            const resumeLink = document.getElementById("resume_download");
            if (resumeLink && downloadSpan){
                resumeLink.addEventListener("click", ()=>{
                    setTimeout(async ()=>{
                        const res = await fetch("/counter");
                        const data = await res.json();
                        downloadSpan.textContent = `Resume Download: ${data.counter}`
                    }, 500);
                });
            }
        });
        
    </script>
</body>