<!DOCTYPE html>

<head>
    <title>Shiv's Portfolio</title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    <nav>
        <p><a href="pujarishiv1718@gmail.com"> Gmail |</a>
            <a href="https://www.linkedin.com/in/shivkumar-pujari-8a4a31294/"> linkedin </a>
        </p>

    </nav>

    <header>
        <h1>Hello I am Shiv</h1>
        <p>Aspiring Software Developer</p>
    </header>
    <section>
        <h2>Projects</h2>
        <div class="projects">
            <div class="project-card"> ScanGo - Smart Shopping Web App</div>
            <div class="project-card">Image Description Generation - Tensorflow</div>
            <div class="project-card">ToDo Application - Python/Django</div>
        </div>
    </section>
    <section id="skills">
        <h2>My Sills</h2>
        <ul>
            <li>Python</li>
            <li>Django</li>
            <li>FastAPI</li>
            <li>Javascript</li>
            <li>SQL</li>
        </ul>
    </section>
    <section id="about">
        <h3>About Me</h3>
        <p>
            Computer engineer with a strong foundation in Python, Django, and FastAPI. Passionate about
            solving complex problems, building scalable applications, and working in a dynamic environment. Eager
            to contribute to innovative projects while continuously learning and improving.
        </p>
    </section>
</body>

</html>