{% extends "base.html" %}
{% block content %}
<section class="skills">
    <div class="skill-container">
        <h2>My Skills</h2>
        <div class="skill-categories">
            {% for cat_name, skills in categories.items() %}
            <div class="skill-category">
                <h3>{{ cat_name }}:</h3>
                <ul>
                    {% for s in skills %}
                    <li>{{ s }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}